{{ define "main" }}

  <header>
    {{/* The list's title, e.g., "Events", is the main heading on this page. */}}
    <h3>{{ .Title }}</h3>
    {{/* Render _index.md content if it exists */}}
    {{ if .Content }}
      <div>{{ .Content }}</div>
    {{ end }}
  </header>

  <hr />

  {{/* Loop through events, newest first */}}
  {{ range .Pages.ByDate.Reverse }}
    <article>
      {{/* Event titles in a list are secondary headings */}}
      <h4>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h4>
      {{ if .Description }}
        <p>{{ .Description }}</p>
      {{ end }}
      {{/* Use the correct <time> element for dates */}}
      <p><em><small><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></small></em></p>
      {{ if .Params.location }}
        <p><small><strong>Location:</strong> {{ .Params.location }}</small></p>
      {{ end }}
      {{ if .Params.time }}
        <p><small><strong>Time:</strong> {{ .Params.time }}</small></p>
      {{ end }}
    </article>
  {{ end }}

{{ end }} 