<div class="newsletter-archive">
  <table>
    <tbody>
      {{ range site.Data.newsletters }}
      <tr>
        <td>
          {{ with .newsletters.spring }}
            <a href="{{ .url }}">{{ .title }}</a>
          {{ else }}
            –
          {{ end }}
        </td>
        <td>
          {{ with .newsletters.summer }}
            <a href="{{ .url }}">{{ .title }}</a>
          {{ else }}
            –
          {{ end }}
        </td>
        <td>
          {{ with .newsletters.autumn }}
            <a href="{{ .url }}">{{ .title }}</a>
          {{ else }}
            –
          {{ end }}
        </td>
        <td>
          {{ with .newsletters.winter }}
            <a href="{{ .url }}">{{ .title }}</a>
          {{ else }}
            –
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div> 