{{ define "main" }}
  <article>
    <header>
      {{/* The event's title is the most important heading on its own page */}}
      <h1>{{ .Title }}</h1>
      <p>
        <em><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></em>
      </p>
      {{ if .Params.location }}
        <p><strong>Location:</strong> {{ .Params.location }}</p>
      {{ end }}
      {{ if .Params.time }}
        <p><strong>Time:</strong> {{ .Params.time }}</p>
      {{ end }}
    </header>

    {{/* The main content of the event */}}
    <div>
      {{ .Content }}
    </div>
  </article>
{{ end }} 