{{ define "main" }}

						<!-- Banner -->
							<section id="banner">
								<article data-position="bottom right">
									<div class="inner">
										<img src="/images/slide01.jpg" alt="">
										<h2>Ultricies sed magna</h2>
										<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor ipsum dolor.</p>
										<ul class="actions">
											<li><a class="button large" href="#">Magna sed dolor</a></li>
										</ul>
									</div>
								</article>
								<article data-position="top right">
									<div class="inner">
										<img src="/images/slide02.jpg" alt="">
										<h2>Sed mattis nunc lorem</h2>
										<p>Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida fringilla.</p>
										<ul class="actions">
											<li><a class="button large" href="#">Magna sed dolor</a></li>
										</ul>
									</div>
								</article>
								<article data-position="right">
									<div class="inner">
										<img src="/images/slide03.jpg" alt="">
										<h2>Nisl sed vitae</h2>
										<p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat purus ipsum consequat.</p>
										<ul class="actions">
											<li><a class="button large" href="#">Magna sed dolor</a></li>
										</ul>
									</div>
								</article>
								<article data-position="center">
									<div class="inner">
										<img src="images/slide04.jpg" alt="">
										<h2>Porta ultricies consectetur</h2>
										<p>Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet. Magna tellus fusce tincidunt lorem.</p>
										<ul class="actions">
											<li><a class="button large" href="#">Magna sed dolor</a></li>
										</ul>
									</div>
								</article>
							</section>

						<!-- Blurb -->
							<section>
								<h1>Sed mattis nunc lorem</h1>
								<p>Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla lorem.</p>
							</section>

						<!-- Features -->
							<section class="features alt">
								<article class="icon fa-gem">
									<h3>Nisl sed vitae</h3>
									<p>Nullam et orci sed lorem magna et vivamus sagittis libero.</p>
								</article>
								<article class="icon fa-save">
									<h3>Sed mattis nunc</h3>
									<p>Duis non efficitur nisi, sed justo. Maecenas sagittis semper.</p>
								</article>
								<article class="icon solid fa-laptop">
									<h3>Porta ultricies</h3>
									<p>Maecenas sagittis felis ac sagittis semper. Curabitur purus leo.</p>
								</article>
								<article class="icon solid fa-paper-plane">
									<h3>Magna tellus</h3>
									<p>Auctor orci eu dolor consectetur, interdum ullamcorper ante.</p>
								</article>
							</section>

						<!-- Spotlights -->
							<section class="spotlights alt">
								<article>
									<a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
									<h3>Sit amet posuere risus amet lorem faucibus lectus</h3>
									<p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
									<h3>Ante sed fermentum tempus vitae eleifend magna</h3>
									<p>Quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis felis elementum.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
									<h3>Lorem ipsum dolor sit amet consectetur adipiscing</h3>
									<p>Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</article>
								<article>
									<a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
									<h3>Duis vulputate amet tincidunt lacinia velit aliquet</h3>
									<p>Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</article>
							</section>

{{ end }}
