<!-- Logo -->
	<span class="logo">
		<a href="/">Faction</a>
		<span>Finchley Horticultural Society</span>
	</span>

<!-- Nav -->
	<nav id="nav">
		<ul>
			{{- $currentPage := . -}}
			{{- range .Site.Menus.main -}}
				<li><a href="{{ .URL | relURL }}" aria-current="page">{{ .Name }}</a></li>
			{{- end -}}
			<!-- <li>
				<a href="#" class="icon solid fa-angle-down">Dropdown</a>
				<ul>
					<li><a href="">Option One</a></li>
					<li><a href="#">Option Two</a></li>
					<li><a href="#">Option Three</a></li>
				</ul>
			</li> -->
		</ul>
	</nav>


